html {
    width: 1000px;
    }

h1 {
    font-size: 32px;
    font-weight: bold;
    color: darkgreen;
    margin: 10px 0 10px 0;
    font-family: monospace;
}

h2 {
    font-size: 24px;
    font-style: italic;
    color: darkslategray;
    margin: 10px 0 10px 0;
    
}

h3 {
    
    font-size: 18px;
    color: darkblue;
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


p { 
    font-family: Arial, Helvetica, sans-serif;
    
}

footer {
    color:rebeccapurple;
    margin: 10px 0 10px 0;
    border-bottom-color: rebeccapurple;
    border-width: 10px;
    margin-bottom: 100px;
}

figure {

    margin-left: 20px;
    margin-right: 20px;
  }
figcaption {
    text-align: right;
    font-size: 12px;
    color:dimgray;
    font-family: monospace;
}


.employer {
    padding-top:0;
    margin-top:0;
    color: darkslategray;
    font-size: 16px;
    font-weight: bold;
}



